body{
    font-family:Garamond,serif;
}
h1{
    font-family:'Brush Script MT', cursive;
    color:#829460
}
dt{
    font-size:large;
    color:#789395;
}
/*table*/
table{
    text-align:center;
    table-layout:fixed;
    width:100%;
    border-style:none;
}
caption{
    font-family:'Brush Script MT', cursive;
    color:#829460;
    font-size:x-large;
}
thead{
    background-color:#DAE2B6;
    color:#645CAA;
}
.time{
    background-color:#F7EDDB;
    color:#645CAA;
}
td{
    background-color:#E6EBDC;
}
/*images*/
.nap1{
    width:150px;
    border-radius:25px;
}
.nap2{
    width:100px;
    border-radius:50%;
}
.nap3{
    width:150px;
    border-radius:25px;
}
.work{
    width:150px;
    border-radius:50%;
}
.spyfamily{
    width:150px;
    border-radius:25px;
}
.killjoy{
    width:150px;
    border-radius:50%;
}
/*links*/
a:link{
    color:#557C55;
    background-color:transparent;
    text-decoration:none;
}
a:visited{
    color:pink;
    background-color:transparent;
    text-decoration:none;
}
a:active{
    color:#D8AC9C;
    background-color:transparent;
    text-decoration:wavy underline;
}
a:hover{
    color:#999B84;
    background-color:transparent;
    text-decoration:underline;
    cursor:crosshair;
}